.add-procuct-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.add-product-btn {
  padding: 10px;
  background-color: inherit;
  border: 2px solid green;
  color: green;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
}
.add-procuct-btn:hover {
  background-color: #065d04;
}
